html,body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #F0F2F4;
}
.hero-body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Plum_trees_Kitano_Tenmangu.jpg/1200px-Plum_trees_Kitano_Tenmangu.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
.articles .content p {
    line-height: 1.9;
    margin: 15px 0;
}
.author-image {
    position: absolute;
    top: 15px;
    left: 49%;
    width: 75px;
    height: 75px;
    margin-left: -30px;
    border: 2px solid #ccc;
    border-radius: 50%;
}
.media-center {
    display: block;
    margin-bottom: 1rem;
}
.media-content {
    margin-top: 3rem;
}
.card-article {
    box-shadow: none;
    border-style: solid;
    border-width: 1px 1px 4px 1px;
    border-color: #dbdbdb;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
}
